.main{
    padding: 10px;
    border-radius: 20px;
}

.movie{
    transition: all .8s ease-in-out;
    -webkit-transition:all .8s ease-in-out;
    width: 100%;
    height: 35vw;
    object-fit: cover;
    border-radius: 10px;
}

.movie:hover{
    transform:scale(1.2);
    border-radius: 10px;
}

.carousel-control-prev {
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
    width: 10%;
    height: 40%;
}

.carousel-control-next {
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
    width: 10%;
    height: 40%;
}

#myCarousel {
    border-radius: 20px;
}

.carouselItem {
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
    border-radius: 50px;
}

.carouselContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    text-align: center;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    border-radius: 50px;
}

#seeMoreImg {
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cardImg{
    max-width: 100%;
    max-height: 35vw;
    object-fit: cover;
}

#randomModal{
    display: none;
}

.footer{

}




