.imgMovie {
    height: 100%;
}

@media (max-width: 767px) {
    .imgMovie {
        height: 50vh;
    }
}

@media (max-width: 800px) and (max-height: 500px) {
    .imgMovie {
        width: 50vw;
        height: 50vh;
    }

    .imgMovieBlock {
        text-align: center;
    }
}

.imgMovieBlock{

}

.feedback-box{
    padding: 10px;
    border-radius: 20px;
}