<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <title>Welcome!</title>
</head>
<body>

<div th:replace="includes/header"></div>


<div id="myCarousel" class="container carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
    </ol>

    <div class="carousel-inner mt-3">

        <div class="carousel-item active carouselItem" data-bs-interval="2000">
            <div class="overlay-image" id="overlayImage" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/252820/1320x580-77.jfif);"></div>
            <div class="container carouselContainer">
                <h1>First Slide</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis quisquam mollitia nobis totam voluptatum dicta illo assumenda laboriosam ipsum distinctio, voluptate, amet recusandae accusamus inventore est! Dolorem, consequuntur ab?</p>
                <a href="#" class="btn btn-lg btn-outline-info">
                    Go to movie
                </a>
            </div>
        </div>

        <div class="carousel-item carouselItem" data-bs-interval="2000">
            <div class="overlay-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg');"></div>
            <div class="container carouselContainer">
                <h1>Second Slide</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis quisquam mollitia nobis totam voluptatum dicta illo assumenda laboriosam ipsum distinctio, voluptate, amet recusandae accusamus inventore est! Dolorem, consequuntur ab?</p>
                <a href="#" class="btn btn-lg btn-outline-info">
                    Go to movie
                </a>
            </div>
        </div>

    </div>

    <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
        <span class="visually-hidden-focusable">Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>

    <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
        <span class="visually-hidden-focusable">Previous</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>

</div>

<div class="container main mt-5 mb-5 bg-dark">

    <div id="movieSlider" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="row">
                    <div class="col-3">
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/adventure-movie-poster-template-design-7b13ea2ab6f64c1ec9e1bb473f345547_screen.jpg?ts=1576732289" class="movie">
                    </div>
                    <div class="col-3">
                        <img src="https://cdn11.bigcommerce.com/s-ydriczk/images/stencil/1280x1280/products/88997/93196/Avengers-Endgame-Final-Style-Poster-buy-original-movie-posters-at-starstills__42370.1563973516.jpg?c=2" class="movie">
                    </div>
                    <div class="col-3">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/91jatiUZjtL._AC_SL1500_.jpg" class="movie">
                    </div>
                    <div class="col-3">
                        <img src="https://images.moviepostershop.com/replicas-movie-poster-1000778791.jpg" class="movie">
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-3">
                        <img src="https://www.joblo.com/assets/images/joblo/news/2020/06/URiXYTtX.jpeg" class="movie">
                    </div>
                    <div class="col-3">
                        <img src="https://i.redd.it/3fl2s0q1ug661.jpg" class="movie">
                    </div>
                    <div class="col-3">
                        <img src="https://www.joblo.com/assets/images/joblo/posters/2019/10/jungle-cruise-poster.jpg" class="movie">
                    </div>
                    <div class="col-3">
                        <img src="https://oyster.ignimgs.com/wordpress/stg.ign.com/2021/02/MK_VERT_MAIN_2764x4096_INTL.jpg" class="movie">
                    </div>
                </div>
            </div>

        </div>

        <a href="#movieSlider" class="carousel-control-prev" role="button" data-bs-slide="prev">
            <span class="visually-hidden-focusable">Previous</span>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>

        <a href="#movieSlider" class="carousel-control-next" role="button" data-bs-slide="next">
            <span class="visually-hidden-focusable">Previous</span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>

    </div>

</div>

<div th:replace="includes/footer"></div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->

<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
 -->
</body>
</html>