<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${movieDto.movie.name}"></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/movie-page.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:replace="includes/header"></div>

<div class="main container mb-5 mt-5">

    <div class="card movieCard col-12 p-0 bg-dark">
        <div class="row no-gutters">

            <div class="col-12 col-md-2 imgMovieBlock">
                <img th:src="${movieDto.movie.imgUrl}" th:alt="${movieDto.movie.name}" class="card-img imgMovie">
            </div>

            <input id="movieId" type="hidden" th:value="${movieDto.getMovie().getId()}">
            <input id="userId" type="hidden" th:value="${session.user.id}">

            <div class="col-12 col-md-10 col-lg-10">
                <div class="card-header row text-light">
                    <div class="col-md-11" th:text="${movieDto.movie.name}"></div>
                    <div class="col-md-1">
                        <button id="btnFav" class="btn btn-fav">
                            <img style="color: white" id="favLogo"
                                 th:src="${movieDto.favorite ?'/img/fav-pressed.png': '/img/fav.png'}" width="40">
                        </button>
                    </div>
                </div>
                <div class="card-body py-2 bg-dark">

                    <ul class="list-group list-group-flush row">
                        <li class="list-group-item py-1 bg-dark">
                            <dl class="row m-0">
                                <dt class="mr-4 text-light">Release date</dt>
                                <dd class="text-light" th:text="${movieDto.movie.releaseDate.get(movieDto.movie.releaseDate.DAY_OF_MONTH)
                            +'/'+(movieDto.movie.releaseDate.get(movieDto.movie.releaseDate.MONTH)+1)
                            +'/'+movieDto.movie.releaseDate.get(movieDto.movie.releaseDate.YEAR)}"></dd>
                            </dl>
                        </li>
                        <li class="list-group-item py-1 bg-dark">
                            <dl class="row m-0">
                                <dt class="mr-4 text-light">Genres</dt>
                                <dd>
                                    <span class="text-light" th:each="genre, iStat : ${movieDto.movie.genres}"
                                          th:text="${genre.name+ (!iStat.last?', ':'')}"></span>
                                </dd>
                            </dl>
                        </li>
                        <li class="list-group-item py-1 bg-dark">
                            <dl class="row m-0">
                                <dt class="mr-4 text-light">Age rating</dt>
                                <dd class="text-light" th:text="${movieDto.movie.ageRating}+'+'"></dd>
                            </dl>
                        </li>
                        <li class="list-group-item py-0 bg-dark">
                            <dl class="row m-0">
                                <dt class="mr-4 text-light">Director</dt>
                                <dd class="text-light" th:text="${movieDto.movie.director}"></dd>
                            </dl>
                        </li>
                        <li class="list-group-item py-0 bg-dark">
                            <dl class="row m-0">
                                <dt class="mr-4 text-light">Actors</dt>
                                <dd class="text-light" th:text="${movieDto.movie.actors}"></dd>
                            </dl>
                        </li>
                        <li th:if="${session.user.role.name=='ADMIN'}" class="list-group-item py-0 bg-dark">
                            <dl class="row m-0">
                                <dt class="mr-4 text-light">Admin functions</dt>
                                <dd class="text-light">
                                    <a th:href="${'/movie/edit?id='+movieDto.movie.id}">
                                        <button class="btn btn-warning">
                                            Edit
                                        </button>
                                    </a>
                                </dd>
                            </dl>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="media-player mt-4">
        <iframe width="100%" height="550" th:src="'https://www.youtube.com/embed/'+${movieDto.movie.youtubeTrailerKey}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>

    <div class="feedback-box mt-4 bg-dark">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3 class="text-white">Leave a review about the movie</h3>
                <hr>
                <form action="/feedback/add" method="POST">
                    <h5 class="text-light">Did you enjoy the film?</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-check-input" type="radio" name="like" id="yes" required>
                            <label class="form-check-label text-light" for="yes">Yes</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-check-input" type="radio" name="like" id="no" required>
                            <label class="form-check-label text-light" for="no">No</label>
                        </div>
                    </div>
                    <div class="form-group mb-2 mt-3">
                        <label class="form-label text-light">Describe Feedback:</label>
                        <textarea class="form-control" name="feedText" rows="4" required></textarea>
                    </div>

                    <input type="hidden" name="movieId" th:value="${movieDto.getMovie().getId()}">

                    <div class="text-center btnBox">
                        <button type="submit" class="btn btn-outline-info">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script th:src="@{/js/randomBox.js}"></script>
<script th:src="@{/js/updateFavList.js}"></script>
</body>
</html>