<div class="mb-3 row">

  <div class="col-4">
    <label for="dayInput">Day</label>
    <select id="dayInput" class="form-control" aria-describedby="dayInputDesc" name="day" required></select>
  </div>

  <div class="col-4">
    <label for="monthInput">Month</label>
    <select id="monthInput" class="form-control" aria-describedby="monthInputDesc" name="month" required></select>
  </div>

  <div class="col-4">
    <label for="yearInput">Year</label>
    <select id="yearInput" class="form-control" aria-describedby="yearInputDesc" name="year" required></select>
  </div>
</div>