<header xmlns:th="http://www.thymeleaf.org">

    <nav class="container navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img th:src="@{/img/logo4.png}" width="45px" height="50px" ></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <div id="navLinkBox">
                    <ul class="navbar-nav my-2 my-lg-0 navLinks" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-current="page" href="/index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarScrollingDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Random</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">About us</a>
                        </li>
                        <li class="nav-item" th:if="${session.user!=null && session.user.role.name=='ADMIN'}">
                            <a class="nav-link text-light" href="/admin">Admin panel</a>
                        </li>
                    </ul>
                </div>

                <ul class="navbar-nav ms-auto btnLink">
                    <li class="nav-item" th:if="${session.user==null}">
                        <a class="btn btn-outline-primary me-1" href="/login">Login</a>
                    </li>
                    <li class="nav-item" th:if="${session.user==null}">
                        <a class="btn btn-outline-success" href="/registration">Sign up</a>
                    </li>
                    <li class="nav-item" th:if="${session.user!=null}">
                        <form action="/logout" method="post">
                            <button type="submit" class="btn btn-outline-danger">Logout</button>
                        </form>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="mt-3 col-md-6 col-lg-6 col-11 mx-auto my-auto search-box">
        <form class="input-group form-container" method="GET" action="/movie/search">
            <input type="text" name="search" class="form-control search-input" placeholder="Search here..."
                   autofocus="autofocus" autocomplete="off" th:value="${searchInput!=null ? searchInput : ''}" required>
            <span class="input-group-btn">
            <button type="submit" class="btn btn-search">
              <img id="searchLogo" th:src="@{/img/search.png}" width="40">
            </button>
          </span>
        </form>
    </div>

</header>